---
Checks: >
  clang-analyzer-*,
  bugprone-*,
  performance-*,
  portability-*,
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
HeaderFilterRegex: '^(src|include|tests)/'
WarningsAsErrors: ''
AnalyzeTemporaryDtors: false
FormatStyle: none
...
